
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;600;700&family=Spectral:ital,wght@1,800&family=Ubuntu+Mono:wght@400;700&display=swap');


body {
    margin: 0;
    color: #000;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}

.container-2 {
    background-color: #F9F8FF;
    border-top-left-radius: 1em 1em;
    border-top-right-radius: 1em 1em;
}



.home-name {    
    font-family: 'Spectral', serif;
}

.btn-purple {
    color: #fff;
    background-color: #5B63B7;
    border-color: #5B63B7;
    box-shadow: 0 0 15px #9296f0;
    padding: .600rem .75rem;
}

.btn-purple:hover {
    color: white;
}

.zoom:hover {
    transform: scale(1.1);
  
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.zoom-project:hover {
    transform: scale(1.03);
  
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.navbar-brand {
    font-family: 'Ubuntu Mono', monospace;
    background-color: #F9F8FF;
    padding: 0 1rem;
    border-radius: 0.3rem;
    color: rgba(0,0,0,.9)!important;
}

.barra-vertical  {
    color: #CDA715;
    margin-left: -0.8rem;
    animation-iteration-count:infinite;
  }

  .barra-vertical-1 {
    animation-name: barra-1;
    animation-duration: 1s;
  }


  @keyframes barra-1 {
    50% {
      transform: scale(0.5);
      opacity: 0;
    }
  }

.bg-purple-light {
    background-color: #F9F8FF!important;
}

.icon-nav {
    padding: 5px 8px;
}


.nav-link {
    color: rgba(0,0,0,.55);
}


.nav-link:focus, .nav-link:hover {
    color: rgba(0,0,0,.9);
}

.text-secondary {
    color: rgba(0,0,0,.55);
}

.py-5 {
    padding-top: 3rem!important;
    padding-bottom: 3rem!important;
}

.py-6 {
    padding-top: 4rem!important;
    padding-bottom: 4rem!important;
}


.pb-6 {
    padding-bottom: 4rem!important;
}



.py-8 {
    padding-top: 10rem!important;
    padding-bottom: 10rem!important;
}


a:link, a:visited, a:hover, a:active {
    text-decoration: none;
}


.project-title-2 {
    margin-bottom:0;
    font-weight: 600;
    text-align: left;
}

.fw-600{
    font-weight: 600;
}


  .img-wrap {
    position: relative;    
    width: 100%;
    height: auto;
  }


  .img-description {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgb(255 255 255 / 85%);
    color: black;
    visibility: hidden;
    opacity: 0;
    border-radius: .25rem!important;
    border: 0!important;
    margin: .25rem;
    padding: 5rem;
    text-align: justify;
  }
  
  .img-wrap:hover .img-description {
    visibility: visible;
    opacity: 1;
    transition: .5s ease;
    cursor: pointer;
  }

  .icon-project {
      padding: 8px 10px;
  }


.illustration-home {
    display: flex;
    width: 100%;
    height: 90%;
    justify-content: center;
    flex: 0 0 auto;
    text-align: center;
}

.img-img2 {
    vertical-align: middle;
    text-align: center;
    background-color: #CDA715;
    border-radius: .25rem!important;
    border: 0!important;
    margin: .25rem;
    padding: 8rem;
}

.img-img2 img{
    max-height: 200px;
}

.img-description2{
    margin:unset;
}

.project-help{
    display: inline-block;
    width: 100%;
}  

.project-demo{
    display: inline-block;
    vertical-align: top;
    margin: 1.5rem 0;
    width: 39%;
    text-align: right;
}

.fade {
    transition: opacity 0.25s ease-in;
}

.modal-backdrop {
    background-color: #fff;
}

.modal-backdrop.show {
    opacity: 0.85;
}

.modal-content {
    background: rgb(255 255 255 / 85%);
}

.modal-header {
    padding: 0.5rem 1rem;
}

.modal-header .btn-close {
    padding: .5rem .5rem;
    margin: -.2rem -.2rem -.2rem auto;
}

.element[data-emergence=hidden]{
    left: 0;
}

.element[data-emergence=visible]  {
    left: 100%;
    transform: translate(2%);
    transition: all 1s ease;
}


@media (max-width: 576px){
    
    
    #contact {
        text-align: center;
    }

    .home-text {
        text-align: center;
    }

    .ms-4 {
        margin-left: 1.2rem !important;
    }

    
}

@media (max-width: 768px){
    .home-text, .project-title, .project-subtitle, #about-me {
        text-align: center!important;
    }

    #contact {
        text-align: left;
    }

    .footer-text, .footer-nav {
        justify-content: center!important;
    }

    .contact-label {
        margin-top: 1.5rem;
    }

    .py-6 {
        padding-top: 2rem!important;
        padding-bottom: 2rem!important;
    }
    
    .pb-6 {
        padding-bottom: 2rem!important;
    }

    .img-description {        
        padding: 3rem 2rem;
    }

    .illustration-home {
        max-height: 300px;
    }

    .about-me {
        margin-top: 2rem!important;
    }

    .home-description {
        padding-top: 2rem!important;
        padding-bottom: 2rem!important;
    }

    .barra-vertical {
        margin-left: -0.5rem;
    }

    .navbar-brand-contact {
        padding: .3125rem 1rem;
    }
}


@media (min-width: 769px){
    .home-name {    
        font-size: 3rem!important;
    }

    .home-text, .project-title, .project-subtitle, #contact, #about-me {
        text-align: left;
    }

    .footer-text {
        justify-content: flex-start;
    }

    .footer-nav {
        justify-content: flex-end;
    }

    .text-description, .home-text a {
        font-size: 1rem!important;
    }

    .text-description-2 {
        font-size: 1rem!important;
    }

    .contact-label {
        margin-top: 1.5rem;
    }

    .py-6 {
        padding-top: 4rem!important;
        padding-bottom: 4rem!important;
    }
    
    .pb-6 {
        padding-bottom: 4rem!important;
    }

    .img-description {        
        padding: 2rem;
    }

    .illustration-home {
        max-width: 200px;
    }

    .img-img2 {
        padding: 5rem;
    }

    .barra-vertical {
        margin-left: -0.5rem;
    }

    .navbar-brand-contact {
        padding: .3125rem 1rem;
    }
}


@media (min-width: 992px){
    
    .img-description {        
        padding: 2rem;
    }

    .illustration-home {
        border: 0;
        max-width: 90%;
        vertical-align: middle;
    }

    .img-img2 {
        padding: 8rem;
    }

    .barra-vertical {
        margin-left: -0.8rem;
    }

}


@media (min-width: 1200px){
    .home-name {    
        font-size: 3.5rem!important;
    }

    .text-description {
        font-size: 1.5rem!important;
    }

    .text-description-2 {
        font-size: 1rem!important;
    }

    .contact-label {
        margin-top: 3.5rem;
    }

    .img-description {        
        padding: 5rem;
    }

    .contact-email a {
        font-size: 1.10rem!important;
    }


}


@media (min-width: 1400px){
    .home-name {    
        font-size: 4rem!important;
    }

    .contact-email a {
        font-size: 1.25rem!important;
    }

    .illustration-home {
        max-width: 100%;
    }

    .home-text {
        font-size: 2rem!important;
    }

    .navbar {
        padding-top: 2rem!important;
    }
}